<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Assignments</title>
    <head>
    <body>
    <p>Homework 1A served to introduce us to binary, boolean relationships (True and False)
    as well as algorithms. This focused on binary additon, complements, writing psuedocode, 
    adn designing algorithms.</p>
    <p>Homework 1B served to introduce us into the basics of python operations. The function asked the 
    user what their name was, counted the number of letters, determined if that number was odd or even, 
    and then listed each individual letter in their name.</p>
    <p>Homework 2A focused on types of searches. We were introduced and asked questions pertaining to 
    sequential search and merge sort, and their time complexity and mechanism.</p>
    <p>Homework 2B introduced us to not only simulating real world physics but also machine learning. The first part
    allowed us to determine and graph the position of an object that is launched into the air. Utilizing kinematics we 
    determined how an ideal situation would look like and a more realistic depiction of projectile motion would look like. 
    The second part of the homoework allowed us to ask the user for a file, read that file, and return the number of rows 
    and columns as a dictionary.</p>
    <p>Homework 3A served as an introduction to sets and its relation to dictionaries and lists by writing pseudocode. It also
    allowed us to implement recursion for functions determining the amount of permutations for a word, if the word is a 
    palindrom, and the power of a number in an exponential function. </p>
    <p>Homework 3B implemented both numpy and an extension of machine learning. The first part created a random array of 
    0's and 1's, wrote it to a file, reread it back into an array, and simulated pouring water into the columns to 
    determine if the water percolates or not. The second part extended the part done in Homework 2B by removing the client ID, 
    converting the numbers into actual numbers, and separating the data into testing and training data.</p>
    wrote it to a file, reread it back into an array,</p>
    <p>Homework 4 introduced object oriented programing and allowed us to simulate a classroom. The class, teachers, and 
    students would be instantiated and enrolled in the class. The class could then be given assignments for which 
    each student got a grade for, with the grades per student and assignment being graphed, and the teacher paid. </p>
    <p>Homework 5 utilized the methods we developed in previous homeworks to create a machine learning system.
    It would read the data from a file, turn that into a dataset, determined how many benign or malignant tumors there were
    and utulized the statistical functions (knn, sklearnKNN, adn SVC) in order to train the program and predict the 
    type of tumor for data in the testing function. </p>
    <p>The midterm is my favorite assignment. It helped solidify my skills in using python as it employed
    making lists, slicing them, grouping values together, changing values, and reading from a file. Not only this,
    but this was the most practical assignment since we saw the effects of our function in the ppm viewer. The
    assignment was to take the images given and apply three different effects: object_filter which removed the 
    object in teh way of the original image; shades_of_grey which turned the image black and white; and 
    horizontal_flip which flipped the image.</p>
    <p><a href="/">Go Back Home</a></p>
    </body>
</html>
