<!DOCTYPE html>
<html>
    <head>
        <title>Ending</title>
    <head>
    <body>
    <p>You decide that this must be a trap of some sort and turn around to leave. Your family looks disappointed but
    you get out the door and collapse on the road. You cry out for the girl you lost and weep loudly. The humanoid
    hears you but at this point you don't care. You weep and the last thing you see is sharp teeth as it fills your 
    vision and darkness overtakes you. </p>
    <a href="/news3"><input type="button" value="Continue"></a>
    </body>
</html>
