<!DOCTYPE html>
<html>
    <head>
        <title>Drive</title>
    <head>
    <body>
    <p>You decide its best to keep to yourself and drive past her. You look back in your rearview mirror
    and the little girl seems disappointed. You continue driving down the seemingly endless road for what seems like hours.
    You look down at the dashboard and see that the gas is almost empty. You drive for as long as you 
    can but eventually it runs out. You continue on foot until you see another home, in the middle of nowhere.</p>
    <p>It looks worn down and old but you decide to have a closer look. You reach the front door and try to open it
    but it seems locked. Oh well, there's probably nothing in there anyways. </p>
    <p>You continue walking down the road and as soon as you feel that this is hopeless and you're running out of 
    strength and stamina, you see something kinda close. You use what little resolve you have to trudge to the building in 
    the distance and find that its your home. You hesitantly open the door and everything seems...normal. You turn back towards 
    the door and look through the little glass piece; everything's still foggy.</p>
    <p>"We thought you'd never come home." You turn quickly and see your family grinning at you. "You've been out for so long
    and its so late, I was beginning to get worried," your wife states. It looks like her. You get closer and grab her hand. 
    It feels like her. But after all you've seen, who knows what you can trust! What do you do?</p>
    <a href="/part2/drive/embrace"><input type="button" value="Embrace your family"></a>
    <a href="/part2/drive/nocando"><input type="button" value="Don't trust them"></a>
    </body>
</html>
