<!DOCTYPE html>
<html>
    <head>
        <title>GetReady</title>
    <head>
    <body>
    <p>The humanoid creature crawls down the stairs. Standing behind the column, you take out your knife and stab the 
    humanoid in it's exposed head as it crawls close. This stuns the humanoid as it reals from this attack, allowing 
    you to run up the stairs. The zombie on the stairs towards the second floor sees you and screams. You run towards 
    the door and make a split second decision</p>
    <a href="/gamepage/bed/leave/run/still/fight/unlock"><input type="button" value="Stop and unluck the door"></a>
    <a href="/gamepage/bed/leave/run/still/fight/break"><input type="button" value="Run straight through the door"></a>
    </body>
</html>
