<!DOCTYPE html>
<html>
    <head>
        <title>Investigating</title>
    <head>
    <body>
    <p>You leave the room and, luckily, find a bat right outside of the room. You go 
    towards the commotion and see what seems like a corpse of a police officer banging on the bathroom door. 
    What do you do?</p>
    <a href="/gamepage/investigate/swing"><input type="button" value="Ready your bat and swing"></a>
    <a href="/gamepage/investigate/runningman"><input type="button" value="Book it"></a>
    </body>
</html>
