<!DOCTYPE html>
<html>
    <head>
        <title>Kid</title>
    <head>
    <body>
    <p>You decide to stop and ask if she needs help. She looks at you and is somewhat startled and reserved.</p>
    <p>"My mom says never talk to strangers. She says other people are scary. But... you don't look scary.
    You're the first person I've seen this whole time! I've been wandering around for a while now and 
    I thought I saw some people but they don't look right so I never talk to them. Do you know where my 
    mom is?"</p>
    <p>You tell her that you haven't seen anyone else either but that you could help.</p>
    <p>"Okay," she exclaims. She jumps into the passenger seat and puts on her seat belt, excited at the prospect of
    reuniting with her mother. You both continue down the road. You ask her how long she's been here and if she knew
    how she even got here. She says she has no idea and that the last thing she remembers is her and her mom
    coming home from the movie theaters late at night. She says she woke up in car but there was no one around her
    so she just got out and started walking.</p>
    <p> Seeing her makes you happy that you're not alone but worried how she'll fair with these creatures
    around. You look down at the dashboard and see that the gas is almost empty. You drive for as long as you 
    can but eventually it runs out. You continue on foot until you see another home, in the middle of nowhere.</p>
    <p>"My home," the girl exclaims. It looks old and broken down but who are you to judge. "Can we go inside?"</p>
    <a href="/part2/kid/both"><input type="button" value="Let's go in together"></a>
    <a href="/part2/kid/you"><input type="button" value="Let me go and check if its safe first"></a>
    </body>
</html>
