<!DOCTYPE html>
<html>
    <head>
        <title>One Down</title>
    <head>
    <body>
    <p>You decide its safest if you go in first.</p>
    <p>"Wait," she says. She hands you a key. "I always keep one in my sock. Mom says its best just in case." You take 
    key and unlock the door for the house. You go inside and it initially seems empty. The wallpaper seems to be coming 
    off and the furniture seems kinda old and really used. You go into the kitchen and find a woman in there. "Excuse me" 
    say. But she doesn't seem to hear you. Could it be the girl's mother. You go back towards the front door and call the little 
    girl over.</p>
    <p>However, behind her you see the humanoid monster from the house you escaped from. I guess it followed you here. The girl
    didn't notice it though and calls back "Coming." Alerting the humanoid who leaps onto her and tears her apart, eating her face
    off her skull. You quickly close the door and you feel the crushing burden of her death on your shoulders. </p>
    <p> You continue to look around the house and find a back door. You use it to get around the humanoid and continue down the street 
    from the empty area surrounding it. You eventually arive at a house that looks like your own. You're relieved that you made it 
    back into the safety of a home away from the humanoid but are torn by the little girl's death. You fall to the put your face in your
    arms. </p>
    <p>As you weep you hear a voice calling to you. "We thought you'd never come home." You turn quickly and see your family grinning at you. "You've been out for so long
    and its so late, I was beginning to get worried," your wife states. It looks like her. You get closer and grab her hand. 
    It feels like her. But after all you've seen, who knows what you can trust! What do you do?</p>
    <a href="/part2b/pickup/me/towards"><input type="button" value="Embrace your family"></a>
    <a href="/part2b/pickup/me/away"><input type="button" value="Don't trust them"></a>
    </body>
</html>

