<!DOCTYPE html>
<html>
    <head>
        <title>No Way</title>
    <head>
    <body>
    <p>You decide that this must be a trap of some sort and turn around to leave. Your family looks disappointed but
    you get out the door and continue down the road slowly. You become exhausted and fall to the ground. You look up and 
    see the same house you just left. You collapse and weep as you come to accept your place in this godforsaken place.</p>
    <a href="/news3"><input type="button" value="Continue"></a>
    </body>
</html>
