<!DOCTYPE html>
<html>
    <head>
        <title>Part2B</title>
    <head>
    <body>
    <p>You're driving along the road with seemingly endless fog surrounding you. Though the fog you can't make out much 
    but you can definitely tell that there is no buildings around you. You have no idea where you're going
    or even where you are. You decide to take a moment to truly understand what the hell just happened and stop at the
    side of the road. You sit there for a while, trying to get a grip on what's happened and how you got here. The last 
    thing you remember is walking home from your job late one night. You remember a tunnel you've walked under hundreds 
    of times when going to work and coming back. After that, all you remember is waking up in that house and escaping. 
    Come to think of it, what were those things? Were they human? One had a zombie like visage but the other only had the 
    mere shape of a human. Whatever they were, you hope that that's the last you'll see of them. You start the car and 
    continue slowly down the road. While you're driving, you see a kid walking down the road in front of you. It seems 
    like a little girl no older than eight years old. What should you do?</p>
    <a href="/part2b/pickup"><input type="button" value="Stop and ask if she needs help"></a>
    <a href="/part2b/go"><input type="button" value="Drive past her, who knows who you can trust"></a>
    </body>
</html>
