<!DOCTYPE html>
<html>
    <head>
        <title>Investigating</title>
    <head>
    <body>
    <p>You decide to try to run past the zombie while its distracted but in the time
    it took you to decide, it noticed you and stood in your way. The zombie falls on you 
    and the last thing you see is the teeth on an unhinged jaw closing in towards you.</p>
    <p>YOU ARE DEAD</p>
    <a href="/gamepage"><input type="button" value="Retry?"></a>
    <a href="/"><input type="button" value="Return home"></a>
    </body>
</html>