<!DOCTYPE html>
<html>
    <head>
        <title>We Made It</title>
    <head>
    <body>
    <p> You continue to look around the house and find a back door. You use it to get around the humanoid and continue down the street 
    from the empty area surrounding it. You eventually arive at a house that looks like your own. You're relieved that you made it 
    back into the safety of a home away from the humanoid. </p>
    <p>As you enter you see your family within the home. "We thought you'd never come home," they say. Your wife comes closer 
    and says "You've been out for so long and its so late, I was beginning to get worried.". You embrace her and weep with tears of joy 
    and relief as you become shrouded in peace and you fall into a deep sleep. </p>
    <a href="/news2"><input type="button" value="Continue"></a>
    </body>
</html>

