<!DOCTYPE html>
<html>
    <head>
        <title>Basement</title>
    <head>
    <body>
    <p>You slowly make your way down the stairs and reach the basement. You look around and find that its flooded. A 
    picture frame catches your eye. Picking it up, it looks like a platoon of military men. On the bottom right, you 
    notice a date: 1970. As you place it back onto the cabinet, you hear a slight jingle. You look through the cabinets 
    and find a set of keys. One of them seems to have the logo for Toyota. The jingling of the keys, however, makes some noise
    and a humanoid like creature appears at the far end of the room, emerging from the darkness. It doesn't seem to have 
    eyes or a face at all but a mouth. It slowly crawls towards your position, perplexed by the noise. What do you do next?</p>
    <a href="/gamepage/investigate/swing/basement/stealthy"><input type="button" value="Hide"></a>
    <a href="/gamepage/runenddeath"><input type="button" value="Run for it"></a>
    </body>
</html>
