<!DOCTYPE html>
<html>
    <head>
        <title>Bedroom</title>
    <head>
    <body>
    <p>You decide that staying in your room is your best bet. You decide to look around 
    and open some drawers. Who knows what you may find. While searching the drawers you 
    find a half burnt newspaper. Most of the newspaper is illegible from the scorch marks 
    but you can make out a few words. The headline reads:</p>
    <p>FIVE DEAD IN MYSTERIOUS HOUSEFIRE-------1998</p>
    <p>Five police officers sent to investigate murders that were reported to have occurred
    in the house are killed in a fire mere minutes after arriving. The house, lying far beyond the 
    stretches of the city, and situated in an isolated forest, has reportedly not received any 
    electricity or gas according to companies. The cause of the fire is still unknown. Many say that ..... within.....
    entities....... We'll keep you updated on any new information we gather. </p>
    <p>Now that you're fully awake, it dawns on you how the air smells vaguely of burnt marshmallows.
    You put down the newspaper and see that underneath is a pocket knife. You pick it up and notice
    that you've searched the entire room. You move back towards the window and see that the fog has cleared up a bit. 
    You can make out what seems to be a slightly dark object below the window that could break your fall. 
    What do you do?</p>
    <a href="/gamepage/bed/leave"><input type="button" value="Leave the room and continue your search"></a>
    <a href="/gamepage/bed/window"><input type="button" value="Try to get out through the window"></a>
    </body>
</html>
