<!DOCTYPE html>
<html>
    <head>
        <title>Reuniting</title>
    <head>
    <body>
    <p>You decide its safest if you guys go in together. You reach for the door knob and try to open it, but it seems locked.</p> 
    <p>"Wait," she says. She hands you the key. "I always keep one in my sock. Mom says its best just in case." You take 
    key and unlock the door for the house. You go inside and it initially seems empty. The wallpaper seems to be coming 
    off and the furniture seems kinda old and really used. You go into the kitchen and find a woman in there.
    <p>"Mom," she exclaims. The woman turns around and picks her up. "I thought I'd never see you again." The woman replies saying, 
    "What do you mean, we just came from the theaters." The girl doesn't respond, seemingly lost in her mother's embrace.</p>
    <p> The girl seems safe so you decide its best to leave them alone. You leave the house and, with hope now that they've reunited,
    continue on down the road with resolve. You find your own house and enter it excitedly.</p>
    <p>You hear a familiar voice singing nearby. You walk towards the voice and find your wife. "Your home," she exclaims.
    "I was beginning to worry about you." You go to her and embrace her. Coming to a deep, peaceful sleep with her in your arms.</p>
    <a href="/news2"><input type="button" value="Continue"></a>
    </body>
</html>
