<!DOCTYPE html>
<html>
    <head>
        <title>Rampage</title>
    <head>
    <body>
    <p>You don't slow down and run straight through the door. The door comes straight off its hinges and you stumble
    and roll onto the ground. You quickly get up and run towards the Toyota Corolla in the driveway. Unlocking it and getting in. 
    The humanoid comes out the front door and lunges at the car. You put the key into the ignition and start it up. 
    You reverse and drive away as the humanoid falls onto the pavement. You're relieved that you've made it out 
    from the evil that resides in that house. But, you start to wonder where and when you are as well as what that humanoid will
    do now that its out...</p>
    <p>Congratulations! You won! However, the story's not finished.</p>
    <a href="/part2b"><input type="button" value="Continue to epilogue"></a>
    <a href="/"><input type="button" value="Return home"></a>    
    </body>
</html>