<!DOCTYPE html>
<html>
    <head>
        <title>Classes</title>
    <head>
    <body>
    <p>The classes that I have taken so far are:</p>
    <p>Organic Chemistry I and II</p>
    <p>Physics I and II</p>
    <p>Multivariable Calculus for Engineers and Applied Scientists</p>
    <p>Intro to Applied Math</p>
    <p>Art of Engineering</p>
    <p>Intro to Computer Science (Python)</p>
    <p>University Writing in American Studies</p>
    <p>Intensive General Chemistry Lab</p>
    <p>My favorite class is between Organic Chemistry and Python. I've always like 
    chemistry so organic chem was very accessible to me and was really practical and just 
    insteresting to learn. Python was the class I least expected to like only because I 
    had never taken a computer science class and kind of despised it; but after taking the class
    I really appreciate how much I've learned in these past few months and am happy at how 
    proficient I have become. It's actually really fun to do python once you've figured it out.</p>
    <p><a href="/">Go Back Home</a></p>
    </body>
</html>
