<!DOCTYPE html>
<html>
    <head>
        <title>Early Departure</title>
    <head>
    <body>
    <p>In a moment of confidence, you kick down the door and it comes straight off of its hinges, hitting the pavement
    with a large crack. You turn around and notice a humanoid like creature coming towards you. It doesn't seem to have 
    eyes or a face for that matter, but that doesn't matter now. Coming up the stairsfrom the basement, it lunges towards 
    you and the last things you see are sharp teeth and claws as you become shrowded in darkness.</p>
    <p>YOU ARE DEAD</p>
    <a href="/gamepage"><input type="button" value="Retry?"></a>
    <a href="/"><input type="button" value="Return home"></a>
    </body>
</html>