<!DOCTYPE html>
<html>
    <head>
        <title>Wrong Answer</title>
    <head>
    <body>
    <p>You decide to go out through the front door. You open the door and slowly make your way across the lawn towards 
    the street. However, the humanoid hears the crunching of leaves underneath your shoe and begins to make his way towards
    you. As it approaches it lunges at you and the last thing you see is the teeth of a being as darkness begins to take 
    you.</p>
    <a href="/news4"><input type="button" value="Continue"></a>
    </body>
</html>