<!DOCTYPE html>
<html>
    <head>
        <title>Bedroom</title>
    <head>
    <body>
    <img src="/static/images/Bedroom.jpg" alt="Mysterious Bedroom"/>
    <p>You wake up in a cold sweat, breathing heavily. You look to your right and see
    an alarm clock that reads 3:34 AM. You don't recognize this house.You get up and look out the window. 
    You can't make anything out through the thick fog that seems endless.  You hear a crash
    from down the hall. What's your next move?</p>
    <a href="/gamepage/investigate"><input type="button" value="Investigate"></a>
    <a href="/gamepage/bed"><input type="button" value="Stay in your room"></a>
    </body>
</html>
