<!DOCTYPE html>
<html>
    <head>
        <title>Game Menu</title>
    <head>
    <body>
    <p>Welcome to your personal storybook adventure!</p>
    <p>This will be an interactive story that transforms based on your decisions.</p>
    <p>You cannot redo any decision you make and there are no checkpoints</p>
    <p>Have fun and good luck in this simulated survival horror!</p>
    <a href="/gamepage"><input type="button" value="Begin your adventure"></a>
    <a href="/"><input type="button" value="Return home"></a>
    </body>
</html>
