<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    <head>
    <body>
    <img src="static/images/Profile Pic.jpg" alt="Profile Pic"/>
    <p>Welcome to my page!</p>
    <p>My name is Leonardo Campos.</p>
    <p>I am a freshman at Columbia Engineering and am currently studying biomedical engineering.</p>
    <p><a href="https://www.nycgo.com/">Visit NYC Official Guide</a></p>
    <p><a href="/gamepage">Play Interactive Game!</a></p>
    <a href="/assignments"><input type="button" value="View Optional Assignments Portion"></a>
    <a href="/classes"><input type="button" value="View Optional Classes portion"></a>
    </body>
</html>