<!DOCTYPE html>
<html>
    <head>
        <title>Leave</title>
    <head>
    <body>
    <p>You decide to leave the room and look around. As you walk down the hall, you see a corpse slouched on the wall. 
    You slowly approach with your blade drawn. As you get closer, you notice that the corpse is wearing a police uniform.
    You reach down and pull his face up. His eyes are pale and lifeless, and his disclocated jaw droops as his skin tears. 
    He seems to have been dead a long time. You search him for any valuables and find that all he has is an old Nokia phone. 
    You examine the phone and find its dead. While you're fiddling with the phone, he starts to move. You fall to the floor 
    in astonishment. He crawls towards you as you frantically move backwards. What do you do next?</p>
    <a href="/gamepage/bed/leave/stab"><input type="button" value="Stab him"></a>
    <a href="/gamepage/bed/leave/run"><input type="button" value="Make a run for it down the stairs"></a>
    </body>
</html>
