<!DOCTYPE html>
<html>
    <head>
        <title>Good Ending</title>
    <head>
    <body>
    <p>THE NEW TIME TIMES----------------December 26, 2019</p>
    <p>BREAKING NEWS</p>
    <p>An investigation is underway for the disappearance of a man named Jake Jacobs. He was reported missing by his wife
    after we didn't return home from work one night. He was last seen roaming around near an underpass. Witnesses say the
    man just vanished out of thin air and no one has seen Jake since. The outcome of this situation is becoming increasingly
    grim.</p>
    <p>This news comes only days after another anomaly where an eight year old girl named Samantha Gibbins seemingly disappeared while 
    coming home from a night out with her mother. No one has seen the little girl since. All we can do is hope that she is 
    safe. More details will be provided as the story develops.</p>
    <p>Congrats! You've completed the game and received a Bad Ending!<p>
    <a href="/gamepage"><input type="button" value="Try a different story"></a>
    <a href="/"><input type="button" value="Return home"></a>
    </body>
</html>
