<!DOCTYPE html>
<html>
    <head>
        <title>Run</title>
    <head>
    <body>
    <p>You think your best chance is to make a break for it. You get up and run down the stairs, easily outrunning the 
    zombie who is continuing to crawl. The noise, however, attracts the attention of another creature. You don't notice at
    first, but soon notice some liquid dripping from the ceiling. You look up and see a humanoid on the ceiling. 
    It doesn't seem to have eyes or much of a face at all but is directly above you. You see the front door close by and 
    can see a car through the driveway.</p>
    <a href="/gamepage/bed/leave/run/still"><input type="button" value="Stand still"></a>
    <a href="/gamepage/bed/leave/run/door"><input type="button" value="Now's your chance to get out of here, run for the door"></a>
    </body>
</html>
