<!DOCTYPE html>
<html>
    <head>
        <title>Ran</title>
    <head>
    <body>
    <p>You decide to run for the stairs, but the humanoid hears your movement and catches your leg. 
    You trip and hit your head, left dizzy and stunned as the humanoid slowly comes closer. The last thing
    you see is the teeth on the humanoid slowly open and fill your vision.</p>
    <p>YOU ARE DEAD</p>
    <a href="/gamepage"><input type="button" value="Retry?"></a>
    <a href="/"><input type="button" value="Return home"></a>
    </body>
</html>
