<!DOCTYPE html>
<html>
    <head>
        <title>Stab</title>
    <head>
    <body>
    <img src="/static/images/Staircase.jpg" alt="Staircase"/>
    <p>You stab his forehead, leaving the knife in its forehead as blood squirts onto the floors. You 
    get up and walk down the stairs. You see the front door and walk towards it but find that its locked.
    You might need a key but it doesn't seem that sturdy. You also see a door open to your right that leads 
    to what seems like a basement. What do you do next?</p>
    <a href="/gamepage/bed/leave/stab/downstairs"><input type="button" value="Go downstairs"></a>
    <a href="/gamepage/earlydeparture"><input type="button" value="Kick down the door"></a>
    </body>
</html>