<!DOCTYPE html>
<html>
    <head>
        <title>Stealthy</title>
    <head>
    <body>
    <p>You decide to hide. As it passes by the cabinet near you, it drops the picture frame making it scurry towards 
    the other end.You take this as your opportunity to crouch and slowly make your way up the stairs, 
    careful to not make any noise. You make it to the first floor where you continue to slowly crouch towards the 
    front door. The zombie on the second floor has seemingly given up and doesn't notice you. You slowly unlock the 
    front door and get out, locking the door behind you. You walk towards the car, enter it, and start the ingition. 
    You pull out of the driveway and drive away along the road. A feeling of relief and fear fills you at the same time
    as you leave that godforsaken home for the foggy town and time foreign to you.</p>
    <p>Congratulations! You won! However, the story's not finished.</p>
    <a href="/part2"><input type="button" value="Continue"></a>
    <a href="/"><input type="button" value="Return home"></a>
    </body>
</html>
