<!DOCTYPE html>
<html>
    <head>
        <title>Stillness</title>
    <head>
    <body>
    <img src="/static/images/Staircase.jpg" alt="Staircase"/>
    <p>You decide to stand still and the humanoid creature becomes puzzled. The zombie officer crawls towards the 
    edge of the stairs and falls half way down the steps, alerting the humanoid who quickly moves towards the zombie. 
    You move silently towards the door but find that its locked; however, it looks relatively unhinged and could come down
    at any moment. You could break it down but seeing as the humanoid and zombie are close by, you decide its probably best 
    if you didn't. You also notice a staircase to your right, that seemingly leads to a basement. You slowly make your way 
    down the stairs and reach the basement. You look around and find that its flooded. A picture frame catches your eye. 
    Picking it up, it looks like a platoon of military men. On the bottom right, you notice a date: 1970. As you place it
    back onto the cabinet, you hear a slight jingle. You look through the cabinets and find a set of keys. One of them
    seems to have the logo for Toyota. As you begin to make your towards the staircase, you hear someone or something
    comming down the stairs. What do you do?</p>
    <a href="/gamepage/bed/leave/run/still/hide"><input type="button" value="Hide"></a>
    <a href="/gamepage/bed/leave/run/still/fight"><input type="button" value="Ready your knife for a fight"></a>
    </body>
</html>
