<!DOCTYPE html>
<html>
    <head>
        <title>Swinging</title>
    <head>
    <body>
    <p>With resolve, you ready your bat and swing at its head. It immediately falls over against the wall with a thud.
    It still seems able to move so you swing at its legs continously. Your bat breaks but the zombie seems dead or, at 
    least, immobile. You walk downstairs and see the front door. It seems relatively fragile but is locked. You look 
    to your right and see a doorframe and stairs that seem to lead to a basement. What do you do?</p>
    <a href="/gamepage/investigate/swing/basement"><input type="button" value="Go to the basement"></a>
    <a href="/gamepage/earlydeparture"><input type="button" value="Kick down the door"></a>
    </body>
</html>