<!DOCTYPE html>
<html>
    <head>
        <title>GetReady</title>
    <head>
    <body>
    <p>You slow down and take the time to unlock the door. While you're fiddling with the keys in your 
    nervousness, the humanoid comes rushing up the stairs, provoked by the zombie's noise. The humanoid 
    lunges at you and darkness surrounds you.</p>
    <p>YOU ARE DEAD</p>
    <a href="/gamepage"><input type="button" value="Retry?"></a>
    <a href="/"><input type="button" value="Return home"></a>
    </body>
</html>