<!DOCTYPE html>
<html>
    <head>
        <title>Together</title>
    <head>
    <body>
    <p>You decide its safest if you guys go in together. You reach for the door knob and try to open it, but it seems locked.</p> 
    <p>"Wait," she says. She hands you the key. "I always keep one in my sock. Mom says its best just in case." You take 
    key and unlock the door for the house. You go inside and it initially seems empty. The wallpaper seems to be coming 
    off and the furniture seems kinda old and really used. You go into the kitchen and find a woman in there.
    <p>"Mom," she exclaims. The woman turns around and picks her up. "I thought I'd never see you again." The woman replies saying, 
    "What do you mean, we just came from the theaters." The girl doesn't respond, seemingly lost in her mother's embrace.</p>
    <p> The girl seems safe so you decide its best to leave them alone. You open the door and find the humanoid pacing on the front lawn.
    You quickly and silently close the door and ponder. What do you do now</p>
    <a href="/part2b/pickup/us/frontdoor"><input type="button" value="Try to escape through the front door"></a>
    <a href="/part2b/pickup/us/backdoor"><input type="button" value="Find another way out"></a>
    </body>
</html>