<!DOCTYPE html>
<html>
    <head>
        <title>Window</title>
    <head>
    <body>
    <p>You open the window halfway and attempt to climb out. Unfortunately, you lose your footing as the siding of the 
    house is moist from condensation. You fall and on your way down, can make out that the dark mass you had seen before 
    was a fence surrounding the house. You see it accelerate towards you as you fall and become enshrined in darkness</p>
    <p> YOU ARE DEAD. </p>
    <a href="/gamepage"><input type="button" value="Retry?"></a>
    <a href="/"><input type="button" value="Go back home."></a>
    </body>
</html>
